body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;    
}


/*first*/ 
.first {
    background-color: #1f2937;
}

.header { 
    display: flex;
    padding: 16px 60px; 
    justify-content: space-between; 
}

.right-links {
    display: flex; 
    margin: 0;
    padding: 0;
    gap: 10px; 
    list-style-type: none;  
}

a { 
    color: #e5e7eb;             
    text-decoration: none;      
    font-size: 18px;
 } 


.hero {
    display: flex;  
    padding: 60px; 
}

.header .right-links {
    font-size: 24px; 
    color: #F9FAF8;  
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.herotext {
    color: #e5e7eb;             
    font-size: 18px;   
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px; 
  background: #3882F6; 
  padding: 7px 20px;
  margin: 12px 0;  
  color: #e5e7eb;
}

img {
    width: 400px;
}

.separate {
    margin-right: 30px;
}

/*second*/ 
.second .title {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900px;  
    margin: 30px auto;   
}

.second .body {
    display: flex;
    justify-content: center; 
    gap: 52px;  
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.second img {
  width: 150px;
  height: 150px;
  border: #3882F6;
  border-radius: 25px;

}

.second .info {
    max-width: 200px;
    font-size: 18px;  
    font-weight: 100;
    text-align: center;
}


/*third*/ 
.third {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 150px; 
    justify-content: center;
    align-items: center;
}

.third .quote {
    font-size: 36px; 
    color: light italic #1f2937; 
    margin-bottom: 20px;
}

.third .author {
    align-self: flex-end;
}






